@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
  
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width:.5em;
}
::-webkit-scrollbar-track{
  background: black;
}

::-webkit-scrollbar-thumb{
  border-radius: 100vw;
  border: .25em solid darkgray;
}

::-webkit-scrollbar-thumb:hover{
  background: darkgray;
}



body {
  font-family: 'Lato';
}
.container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 0.2fr 2.5fr 2.2fr 2fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar"
      "welcome"
      "about"
      "works"
      "contact";
  }


   
  .navbar { 
       z-index: 100;
      grid-area: navbar;
      display: flex;
      display: -webkit-flex;
      position: fixed;
      justify-content: center;
      text-align: center;
      background-color:#000000;
      height:85px;
      width:100%;
      
    }
  
    .nav-buttons {
  
    display: inline-flex;
    display: -webkit-inline-flex;
    margin-left: 50px;
    top:30%;
    position: relative;
    color:#FFFFFF;
    list-style-type: none;
    
  }
    
  
  a {
    text-decoration: none;
  }
  

  .welcome {   
    grid-area: welcome;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000000;
    height:680px;
  
  
  }
  
  .welcome-text{
  color:#FFFFFF;
  position: relative;
  top:150px;
  }
  
  
  h3 {
    letter-spacing: 10px;
    margin-top:40px;
  }
  .welcome-buttons{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height:100px;
    width:100px;
    position: relative;
    top:150px;
  }
    
  .buttons {
    padding:15px 15px 15px 15px;
    width:150px;
    outline:none;
    background-color: transparent;
    border:2px solid #FFFFFF;
    color:#FFFFFF;
    transition: 0.3s;
    margin-top:45px;
    text-decoration: none;
    text-align: center;
  }
  
  .buttons:hover{
    background-color: #FFFFFF;
    border:2px solid #FFFFFF;
    color:#000000;
  }

  
  .about { grid-area: about;
  }
  
  .about-title {
    text-align: center;
    position: relative;
    top:30px;
    color:#000000;
  }
  
  .about-container {
    width:900px;
    height:400px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    top:30px;
  }
  
  h2,p{
    position:relative;
    top:20%;
    margin-top: 50px;
  }
  p {
    font-weight: 300;
  
  }
  
  span {
    background-color: lightgrey;
    position: relative;
    top:135px;
    padding:5px;
    margin-right: 6px;
  }
  
  span:nth-child(7),
  span:nth-child(8),
  span:nth-child(6) {
    position: relative;
    top:155px;
  }

  .about-inner{
    width:400px;
    height:400px;
    padding-right: 30px;
    margin-top: 15px;
  }





  
    .works { 

      grid-area: works ;
      background-color: lightgrey;
    }

    .works{
      text-align: center;
    }

    .works-container{
      width:1000px;
      height:400px;
      margin: 0 auto;
      display: -webkit-flex;
      flex-direction: row;
      display: flex;
      justify-content: center;
    }

    

.single-works {
  width:300px;
  height:350px;
  margin: 0 auto;
  position: relative;
  top:20px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  border:2px solid black;
  
}

img{
  width:200px;
  height:159px;
  margin: 0 auto;
}

h5 {
  font-weight: 300px;
  text-align: center;
}


.live-site {
  padding:10px 10px 10px 10px;
  width:100px;
  outline:none;
  background-color: transparent;
  border:2px solid #000000;
  color:#000000;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 30px;

}

.live-site:hover{
  background-color: #000000;
  border:2px solid black;
  color:#FFFFFF;
}

 
    .contact { 
      
background-color: #000000;
      grid-area: contact;
    
    }

    .social-media-contacts {
      width:300px;
      height:50px;
      position: relative;
      top:30px;
      margin: 0 auto;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      justify-content: space-between;
    }


    .fab, .fas {
      color:#FFFFFF;
    }












 
  @media only screen and (max-width: 415px){
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr 2fr 2fr 0.2fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "navbar"
        "welcome"
        "about"
        "works"
        "contact";
  height:100%;
    }

    .nav-buttons {
  
      display: inline-flex;
      display: -webkit-inline-flex;
      margin-left: 10px;
      top:30%;
      position: relative;
      color:#FFFFFF;
      list-style-type: none;
      }

      a {
        text-decoration: none;
      }
  
  .welcome{
        display: flex;
        display: -webkit-flex;
        height:450px;
        flex-direction: column;
      }

  .welcome-text{
    width:250px;
    height:150px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    justify-content: center;
    top:1px;
  }

  h3 {
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    line-height: 20px;
  }

  .welcome-buttons {
  
    position: relative;
    top:30px;
    margin:0 auto;
    justify-content: center;
   
  }


  .buttons {
   margin:0 auto;
   padding: 10px 10px 10px 10px;
   font-size: 13px;

   width:100px;
   margin-top:20px;
   
  }

  .about { 
      
    grid-area: about;
    height:335px;
  
  }
  
  .about-title {
    text-align: center;
    position: relative;
    top:30px;
    font-size: 13px;
  }
  
  .about-container {

    width:300px;
    height:400px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    font-weight: 300;
    padding:0px 40px 0px 5px;
  
  }
  
h2 {
  position:relative;
  top:70px;
}

  span {
    background-color: lightgrey;
    position: relative;
    top:110px;
    padding:5px;
    margin-right: 6px;
  }

  span:nth-child(5) {
    position: relative;
    top:130px;
  }

  span:nth-child(7),
  span:nth-child(6) {
    position: relative;
    top:130px;
  }

  span:nth-child(8){
    position: relative;
    top:150px;
  }


  .about-inner{
    width:300px;
    height:400px;
    padding-right: 30px;
    margin-top: 15px;
  }




.works {
  grid-area: works;
  position: absolute;
  top:1200px;
  height:1000px;
  width:100%;
}

.works-container{
  width:350px;
  height:850px;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  
}

.single-works{
width:300px;
height:350px;
display: flex;
display: -webkit-flex;
flex-direction: column;
margin-top: 20px;


}





.contact{
grid-area: contact;
background-color: #000000;
position: absolute;
top:2200px;
height:100px;
width:100%;
}
















  }
